@import 'src/styles/colors';

.datepicker {
  box-shadow: none !important;
  outline: 0 !important;
  padding: 0 0 0 8px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid $gray;
  background-color: white;
  font-size: 14px;
  border-radius: 0;
  width: 224px;
  font-weight: 300;
  &:hover {
    border-color: $main-accent;
  }
  &_disabled {
    cursor: not-allowed;
    &:hover {
      border-color: initial;
    }
  }
}

.react-datepicker__close-icon::after {
  background: white !important;
  padding: 0 0 3px 0 !important;
  font-size: 20px !important;
  color: $black !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__time-list-item--selected
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__year-text--selected,
{
  background-color: $main-accent !important;
}
