.admin__button{
  width: 110px;
  height: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 11.5px;
  line-height: 13px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.0821429px;
  color: #FFFFFF;
  background: #007BFF;
  border: 0.5px solid #007BFF;
  border-radius: 4px;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  outline: none;
}
