.admin-custom-input{
  &__input{
    width: 341.5px;
    height: 29px;
    margin-top: 8.5px;
    border: 0.5px solid #BECAD6;
    box-sizing: border-box;
    border-radius: 3px;
  }
  &__label {
    flex-direction: column;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 10.5px;
    line-height: 12px;
    color: #495057;

  }
}