@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}

p, span {
  font-family: Roboto-Light;
}

@font-face {
  font-family: Helvetica-Light;
  src: url("../fonts/Helvetica/HelveticaLight/HelveticaLight.woff");
}
@font-face {
  font-family: Helvetica-Normal;
  src: url("../fonts/Helvetica/Helvetica-Normal.ttf");
}
@font-face {
  font-family: Helvetica-Regular;
  src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff");
}