
.breadcrumb {
  background-color: transparent;
  height: 48px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  max-width: 1376px;
  padding: 8px 64px;
  margin: 0 auto;
  width: 100%;

  &-item {
    background-color: inherit;
  }

  &-item:disabled {
    color: #999;
    cursor: default;
    outline: none;
    text-decoration: none;
  }

  &-button {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #0ec261;
    font-family: Roboto-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }

  a {
    color: #0ec261;
  }
}


.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  margin-right: 15px;
  margin-left: 15px;
  color: #6c757d;
  content: url("Vector.svg");
}

