@import 'src/styles/colors';

.alert {
  position: absolute;
  display: none;
  justify-content: space-between;
  align-items: center;
  right: -32px;
  left: -32px;
  top: -32px;
  background: $main-accent;
  font-size: 13px;
  line-height: 15px;
  color: white;
  padding: 13px 32px 13px 25px;
  &_shown {
    display: flex;
  }
  &__close-button {
    color: white;
    background-color: inherit;
    border: none;
  }
}