html, body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'RobotoMedium';
    src: url("./fonts/Roboto-Medium.ttf");
}

.menu-background{
    width: 64px;
    height: 810px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-background svg{
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

.menu-background p{
    display: block;
    margin: 0 auto;
    color: #0EC261;

}

.main-background{
    width: 688px;
    height: 810px;
    background-color: #FFFFFF;
}

.main-background_header p{
    color: #0EC261;
    margin-top: 0px;
    font-family: RobotoMedium;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.main-background_header{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 40px 0px;
}

.main-background_header a{
    color: #999999;
}

.main-background_center{
    display: flex;
    flex-direction: column;
    margin: 10px 40px 0px;
}

.main-background_center h1{
    font-family: Roboto-Medium;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    color: #121212;

}
.main-background_center h2{
    color: #0EC261;
    font-family: Roboto-Medium;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    margin: -40px 0px 20px 0px;
}

.main-background_center p{
    color: #999999;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;


}

.main-background_center button{
    height: 48px;
    width: 250px;
    border-radius: 8px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
    background-blend-mode: darken;
    margin: 60px 0px 0px;
    font-family: Roboto-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;


}

.slider-background{
    width: 688px;
    height: 810px;
    background-color: #121212;
}

.main-page{
    display: flex;
}

