@import 'src/styles/colors';

.order-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: none;
  padding: 12px;
  background: linear-gradient(90deg, $main-accent 2.61%,#039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  outline: none;
  &_cancel {
    background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
  }
  &_disabled {
    background: $gray-light;
    color: white;
    cursor: not-allowed;
  }
}
