@import "src/styles/colors";

.mobile-navbar {
  display: flex;
  justify-content: space-between;
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-decoration: none;
    background: white;
    color: $admin-title;
    border: solid 1px #E1E5EB;
    padding: 0;
    svg {
      path {
        fill: #CACEDB;
      }
    }
    &_active {
      svg {
        path {
          fill: $blue;
        }
      }
    }
  }
}