.orders-title{
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 33px;
color: #3d5170;
}
.orders {
  display: flex;
  flex-direction: column;
  &__header{
    display: flex;
    align-items: center;
    padding: 16px 20px 0;
  }
  }

