@import 'src/styles/colors';

.orders {
  &__title {
    font-size: 29px;
    line-height: 33px;
    color: $admin-title;
    font-family: Helvetica;
    margin: 0 0 29px 0;
  }
  &__content {
    background: white;
    box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06), 0px 3.5px 35px rgba(90, 97, 105, 0.1);
    border-radius: 9px;
    min-height: 386px;
  }
  &__filters {
    padding: 15.5px 20px 14.5px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: 1px solid $admin-background;
    border-bottom: 1px solid $admin-background;
  }
  &__footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__not-found {
    margin: 100px auto;
  }
}
